bcrypt==3.1.0
cairocffi==0.7.2
CairoSVG==1.0.22
cffi==1.7.0
chardet==2.3.0
click==6.6
cssselect==0.9.2
cycler==0.10.0
Flask
Flask-Cors
Flask-WeasyPrint
html5lib==0.999999999
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.4
MarkupSafe==0.23
matplotlib==1.5.3
mysql-connector
numpy==1.11.1rc1
pep8==1.7.0
pexpect==4.2.0
Pillow==3.3.0
ptyprocess==0.5.1
pycparser==2.14
pymunk==5.0.0
pyparsing==2.1.8
Pyphen==0.9.4
python-dateutil==2.5.3
qrcode==5.3
reportlab==3.3.0
tinycss==0.3
WeasyPrint==0.31
webencodings==0.5

